.header {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #6366F1;
  }

  &__title {
    color: #ffffff;
    font-size: 2.2rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    align-items: center;

    &-user {
      color: #10e86e;
      font-size: 1.2rem;
      margin: 0 1rem 0 0;
    }

    &-profile, &-login {
      max-width: 1.8rem;
      margin-right: 1rem;
      cursor: pointer;
    }

    &-profile {
      position: relative; /* Add relative positioning to the profile icon container */
    }

    .dropdown__menu {
      position: absolute; /* Position the dropdown menu absolutely within the profile icon container */
      top: 110%; /* Position the dropdown menu below the profile icon container */
      left: -75%; /* Align the dropdown menu to the left edge of the profile icon container */
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 0.5rem 0;
      min-width: 90px;
      z-index: 1; /* Ensure the dropdown menu is above other elements */
    }

    .dropdown__menu-item {
      padding: 0.5rem 1rem;
      color: #333333;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.2s;
    }

    .dropdown__menu-item:hover {
      background-color: #f1f1f1;
    }
  }
}
