
.portfolio {

  &__item {
    max-width: 50rem;
    border-right: 1px solid #7123d3;
    border-left: 1px solid #7123d3;
    padding: 8px;
    box-shadow: 0 0 2px rgb(148, 94, 215);
    margin-bottom: 3rem;
  }

  // .portfolio__title
  &__title {
    padding: 0.3rem 0.5rem 0.1rem 0.5rem;
    // .portfolio__title_text
    &_text {
      font-size: 1.5rem;
    }
  }

  // .portfolio__location
  &__location {
    padding: 0 0.5rem 0.1rem 0.5rem;
    // .portfolio__location_text
    &_text {
      color: #7a7383;
    }
  }

  // .portfolio__image
  &__image {
    cursor: pointer;
  }

  // .portfolio__owner
  &__owner {
    padding: 0.3rem 0.5rem 0 0.5rem;
    color: #7a7383;
  }

  // .portfolio__like
  &__like {
    display: flex;
    align-items: center;
    padding: 0.3rem 0 0.5rem 0.5rem;
    // .portfolio__like_image

    &_image {
      max-width: 20px;
      cursor: pointer;
    }

    &_text {
      font-size: 1rem;
      margin-left: 0.5rem;
    }

  }

  // .portfolio__comments
  &__comments {
    padding-left: 0.5rem;

    &_item {
      font-size: 1rem;
      color: #6d24cb;
      font-weight: bold;
    }
  }

  // .portfolio__input
  &__input {
    margin: 1rem 0 1.5rem 0;
    padding: 0 0.5rem;

    &_label {
      display: block;
      border-bottom: 1px solid #a798b7;
      padding: 10px 0 2px 0;
      transition: border-bottom-color 0.3s;

      input {
        border: none;
        padding: 0 0 5px 5px;
        width: 90%;

        &:focus {
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      &:focus-within {
        border-bottom: 2px solid #a781d5;
      }

      &_button {
         display: inline-block;
         background-color: #b289e3;
         border: none;
         color: #fff;
         padding: 5px 10px;
         cursor: pointer;
         transition: background-color 0.3s;
        border-radius: 5px;
        &:active {
          background-color: #7c33d3;
        }
      }
    }
  }
}





