

input {
  padding: 20px 0 5px 5px;
  border: none; // Remove all borders except bottom
  border-bottom: 1px solid #a798b7; // Add bottom border
  width: 100%;

  &:focus {
    border: none; // R
    outline: none; // Remove outline on focus (optional)
    border-bottom: 2px solid #a781d5; /// Change border color when focused (optional)
    box-shadow: none; // Change shadow color on focus
  }
}
&__input_item {
  padding: 0 5px;

  &_label {
    display: block;
    border: none; // Remove all borders except bottom
    border-bottom: 1px solid #a798b7; // Add bottom border
    width: 100%;

    &_input {
      border: none;
      padding: 0 0 5px 5px;
      width: 100%;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
}
